<!-- Announcement Bar -->
<div class="announcement-bar">
  <div class="marquee">
    🎉 EID SPECIAL - FLAT 50% OFF ON ALL PRODUCTS 🎉 | 🏪 STORE OPENING CELEBRATION | USE CODE: EIDSALE50 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 🎉 EID SPECIAL - FLAT 50% OFF ON ALL PRODUCTS 🎉 | 🏪 STORE OPENING CELEBRATION | USE CODE: EIDSALE50
  </div>
</div>







