<!-- Loader Overlay -->
<div class="loader-overlay" id="loaderOverlay">
  <div class="loader-spinner">
    <div class="spinner"></div>
    <div class="loader-text">Loading<span class="dot-pulse">.</span><span class="dot-pulse">.</span><span class="dot-pulse">.</span></div>
  </div>
</div>







