<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{#if title}}{{title}} | {{/if}}SECRET OUTFITS | Premium Streetwear</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/loader.css" />
  <link rel="stylesheet" href="/css/auth.css" />
  {{#if stylesheets}}
    {{#each stylesheets}}
      <link rel="stylesheet" href="/css/{{this}}" />
    {{/each}}
  {{/if}}
</head>
<body>
  {{> loader}}
  {{> announcement}}
  {{> header}}
  
  {{{body}}}
  
  {{> footer}}
  
  {{> search-overlay}}
  {{> cart-drawer}}
  {{> mobile-menu}}
  
  <script src="/js/products.js"></script>
  <script src="/js/storage.js"></script>
  <script src="/js/loader.js"></script>
  <script src="/js/auth.js"></script>
  <script src="/js/script.js"></script>
  {{#if scripts}}
    {{#each scripts}}
      <script src="/js/{{this}}"></script>
    {{/each}}
  {{/if}}
</body>
</html>



